PORT=5000
DATABASE_URL=
JWT_SECRET=
INTASEND_PUBLISHABLE_KEY=
INTASEND_SECRET_KEY=
INTASEND_TEST=true
INTASEND_CALLBACK_URL=
INTASEND_REDIRECT_URL=
INTASEND_WEBHOOK_CHALLENGE=
ADMIN_EMAIL=
ADMIN_PASSWORD=
BREVO_API_KEY=
FROM_EMAIL=
FROM_NAME=

